<% provide(:title, "Home") %>
<h1>Jubliee App</h1>
<p>
    This is the Home Page for the
    <a href="https://www.facebook.com/jubileealianceparty/">Jubliee App facebook page</a>
    sample application.
</p>
